@media (max-width: 1199px) {
	header {
		&.scroll {
			.header-bottom {
				padding: 0;
			}
		}
		.header-bottom {
	        padding: 30px 0 0;
	        .logo {
	            img {
	                height: 70px;
	            }
	        }
	        .main-menu {
	        	ul {
	        		li {
	        			margin-right: 35px;
	        			&.dropdown {
	        				.dropbtn {
		                    	a {
		                    		font-size: 16px;
		                    	}
	        				}
	        				.dropdown-content {
	        					display: none !important;
	        				}
	                    }
	        			a {
	        				font-size: 16px;
	        			}
	        		}
	        	}
	        }
	        .main-soc {
	            ul {
	                li {
	                    a {
	                        font-size: 18px;
	                    }
	                }
	            }
	        }
	    }
	}
	#main {
		.bg-informasi {
			.accordion {
				padding-right: 0;
			}
		}
	}
}