@media (max-width: 767px) {
    body {
        padding-top: 59px;
    }
    button {
        &.hvr-button {
            font-size: 14px;
            line-height: 22px;
            padding: 7px 20px;
        }
    }
    .xs30 {
        margin-bottom: 30px;
    }
    header {
        .header-bottom {
            padding: 7px 0 !important;
            background: white !important;
            .logo {
                img {
                    height: 45px !important;
                }
            }
            .menu {
                cursor: pointer;
                display: inline-block;
                position: relative;
                top: 2px;
                i {
                    font-size: 20px;
                    color: $blue;
                }
            }
            .main-menu {
                display: none;
            }
        }
    }
    footer {
        padding: 15px 0;
        .main-menu {
            display: none;
        }
        ul.l-footer {
            margin: 0 0 10px;
            li {
                margin-bottom: 7px;
                &:last-child {
                    margin: 0;
                }
                display: block;
                border: 0;
                margin-right: 0;
                padding-right: 0;
            }
        }
        ul.l-soc {
            li {
                margin-right: 15px;
                a {
                    font-size: 16px;
                }
            }
        }
    }
    .fixed-top {
        a {
            right: 10px;
            width: 40px;
            height: 40px;
            font-size: 12px;
            line-height: 15px;
            .img {
                img {
                    height: 12px;
                }
            }
        }
    }

    .fixed-message {
        a {
            right: 10px;
            width: 40px;
            height: 40px;
            .img {
                img {
                    width: 25px;
                }
            }
            .txt {
                display: none !important;
            }
            &:hover {
                width: 40px;
                border-radius: 50%;
                .img {
                    left: 53%;
                    right: inherit;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    #main {
        .banner {
            text-align: center;
            padding: 90px 0 30px;
            .w-text {
                margin: 0 auto;
            }
            .t1 {
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 5px;
            }
            .bdy {
                p {
                    font-size: 13px;
                    line-height: 16px;
                }
            }
        }
        .bg-tab {
            padding-top: 30px;
            ul.nav {
                li {
                    margin-right: 20px;
                    a {
                        font-size: 15px;
                        line-height: 20px;
                        padding: 7px 20px;
                    }
                }
            }
            .tab-content {
                padding: 30px 0 0;
                &.pb150 {
                    padding-bottom: 40px;
                }
                .bdy {
                    margin-top: 20px;
                }
            }
            .link {
                padding-bottom: 40px;
            }
        }
        .bg-keunggulan {
            padding: 20px 0 30px;
            .t1 {
                font-size: 20px;
                line-height: 25px;
                margin-bottom: 20px;
            }
            .row {
                > div {
                    margin-bottom: 20px;
                }
            }
            .item {
                padding: 10px 10px;
                .nm {
                    font-size: 14px;
                    line-height: 22px;
                    height: auto;
                }
            }
        }
        .bg-layanan {
            padding: 40px 0 20px;
            .tbl {
                display: block;
                .cell {
                    display: block;
                    &.w400 {
                        width: 100%;
                        padding-right: 0;
                    }
                    .t {
                        font-size: 20px;
                        line-height: 25px;
                    }
                    .bdy {
                        margin-bottom: 20px;
                    }
                    .item {
                        .img {
                            margin-bottom: 15px;
                            img {
                                height: 100px;
                            }
                        }
                        .link {
                            font-size: 12px;
                            line-height: 15px;
                            padding: 5px 10px;
                        }
                    }
                }
            }
        }
        .bg-dasar {
            padding: 100px 0 130px;
            .t {
                font-size: 20px;
                line-height: 26px;
                .img {
                    top: -25px;
                    left: 60px;
                    img {
                        height: 40px;
                    }
                }
            }
            .slider-dasar {
                margin-top: 10px;
            }
            .bdy {
                p {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
        .bg-tab-tentang {
            ul.nav {
                li {
                    margin-right: 15px;
                    a {
                        border-radius: 10px 10px 0px 0px;
                        font-size: 15px;
                        line-height: 20px;
                        padding: 5px 20px;
                    }
                }
            }
            .blue {
                padding: 40px 0;
            }
        }
        .bg-pasal {
            padding: 50px 0 0;
            .t {
                font-size: 18px;
                line-height: 26px;
            }
            .bdy {
                margin-bottom: 10px;
            }
            .accordion {
                .accordion-item {
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                }
                .accordion-header {
                    a {
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
                .accordion-body {
                    padding: 5px 0 0 10px;
                }
            }
        }
        .bg-klien {
            padding: 70px 0 0;
            .title {
                font-size: 18px;
                line-height: 26px;
            }
            .bdr {
                margin: 10px auto 20px;
                width: 150px;
            }
            .slider-klien {
                display: none;
            }
            .slider-klien-mobile {
                display: block;
                margin-bottom: 0;
                .slick-slide {
                    display: inline-block !important;
                    vertical-align: middle;
                    float: none;
                }
                .item {
                    .img {
                        margin-bottom: 30px;
                        text-align: center;
                        img {
                            margin: 0 auto;
                            max-width: 100%;
                        }
                    }
                }
            }
            .slider-kerja {
                display: none;
            }
            .slider-kerja-mobile {
                display: block;
                margin-bottom: 0;
                .slick-slide {
                    display: inline-block !important;
                    vertical-align: middle;
                    float: none;
                }
                .item {
                    // margin: 0 30px;
                    .img {
                        margin-bottom: 30px;
                        text-align: center;
                        img {
                            margin: 0 auto;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        .bg-kepengurusan {
            padding: 70px 0 50px;
            .title {
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 10px;
            }
            .slider {
                .slick-slide {
                    &.slick-current {
                        .item {
                            .img {
                                border: 4px solid #c4c4c4;
                            }
                        }
                    }
                }
                .item {
                    .img {
                        border: 4px solid #f0f0f0;
                        margin-bottom: 10px;
                    }
                    .nm {
                        font-size: 15px;
                        line-height: 20px;
                    }
                    .posisi {
                        font-size: 13px;
                        line-height: 15px;
                    }
                }
            }
        }
        .bg-profil {
            padding: 20px 0 100px;
            .title {
                font-size: 18px;
                line-height: 26px;
            }
            .bdy {
                p {
                    font-size: 14px;
                    line-height: 22px;
                }
            }
            .slider-profil-mobile {
                display: block;
                margin-bottom: 0;
                .slick-prev {
                    width: 18px;
                    height: auto;
                    z-index: 10;
                    left: -12px;
                    &:before {
                        width: 18px;
                        height: auto;
                        color: $blue;
                        @include transition(all 0.3s);
                        content: "\f0d9";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        font-size: 30px;
                    }
                }
                .slick-next {
                    width: 18px;
                    height: auto;
                    right: -12px;
                    z-index: 10;
                    &:before {
                        width: 18px;
                        height: auto;
                        color: $blue;
                        @include transition(all 0.3s);
                        content: "\f0da";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        font-size: 30px;
                    }
                }
                .slick-dots {
                    bottom: -20px;
                    li {
                        margin: 0 5px;
                        width: 10px;
                        height: 10px;
                        &.slick-active {
                            button {
                                width: 10px;
                                height: 10px;
                                background: $blue;
                            }
                        }
                        button {
                            width: 6px;
                            height: 6px;
                            padding: 0;
                            background: #c4c4c4;
                            border: 0;
                            border-radius: 50px;
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
                .item {
                    padding: 0 10px;
                    .col-profil {
                        flex: 0 0 auto;
                        width: 50%;
                        overflow: hidden;
                        margin-bottom: 20px;
                        cursor: pointer;
                        &:hover {
                            .pad {
                                bottom: 0;
                            }
                        }
                    }
                    .img {
                        overflow: hidden;
                        &:hover {
                            img {
                                @include transform(scale(1.1));
                            }
                        }
                        img {
                            @include transition(all 0.3s);
                            @include transform(scale(1));
                            height: 200px;
                            object-fit: cover;
                            width: 100%;
                        }
                    }
                    .pad {
                        .bg {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: #005495;
                            mix-blend-mode: multiply;
                        }
                        padding: 10px 15px;
                        position: absolute;
                        width: 100%;
                        left: 0;
                        bottom: -100%;
                        @include transition(all 0.3s);
                        .txt {
                            position: relative;
                            z-index: 10;
                            color: white;
                            font-size: 11px;
                            line-height: 12px;
                            font-family: 'source_sans_proregular';
                        }
                    }
                }
            }
            .slider-profil {
                display: none;
            }
        }
        .bg-gallery {
            padding: 20px 0 0;
            &.pb150 {
                padding-bottom: 20px;
            }
            .title {
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 15px;
            }
            .link {
                margin-top: 10px;
            }
            .row {
                margin-right: calc(var(--bs-gutter-x) / -2);
                margin-left: calc(var(--bs-gutter-x) / -2);
                > div {
                    padding-right: calc(var(--bs-gutter-x) / 2);
                    padding-left: calc(var(--bs-gutter-x) / 2);
                }
            }
            .item {
                a {
                    .img {
                        img {
                            height: 150px;
                        }
                    }
                }
            }
        }
        .bg-hubungi {
            padding: 40px 0 40px;
            .img {
                &.mt15 {
                    margin-top: 15px;
                }
            }
            .t1 {
                font-size: 18px;
                margin-bottom: 15px;
            }
        }
        .bg-informasi {
            padding: 50px 0;
            .accordion {
                margin-bottom: 10px;
                padding-right: 0;
            }
            .tab-content {
                .bdy {
                    h1 {
                        margin: 0 0 5px;
                        font-size: 17px;
                        line-height: 22px;
                    }
                }
            }
        }
        .bg-kontak {
            padding: 40px 0;
            .t {
                font-size: 20px;
                line-height: 26px;
             }
        }
        .pad150 {
            padding: 40px 0;
        }
        .title-global {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 10px;
        }
        .bdy-global {
            p {
                font-size: 14px;
                line-height: 22px;
            }
        }
        .full-banner {
            height: 150px;
            &.mb100 {
                margin-bottom: 30px;
            }
            .abs {
                .t-banner {
                    font-size: 22px;
                    line-height: 26px;
                }
            }
        }
        #mitra, #jadwal-jbi {
            padding-top: 50px;
        }
        .css-kegiatan {
            .slider-video {
                margin-bottom: 10px;
                .item {
                    iframe {
                        height: 150px;
                    }
                }
            }
            ul.l-video {
                li {
                    display: block;
                    margin-right: 0;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .t-video {
                font-size: 15px;
                margin-bottom: 15px;
            }
            .title {
                font-size: 17px;
                line-height: 22px;
            }
            .bdy {
                margin-bottom: 20px;
            }
        }
    }
}
