@media (max-width: 991px) {
	button {
		&.hvr-button {
			font-size: 15px;
			line-height: 21px;
		}
	}
	header {
		.header-bottom {
			.main-menu {
				display: block;
	            ul {
		            li {
	                    margin-right: 25px;
	                    &:last-child {
	                    	margin-right: 0;
	                    }
	                    &.dropdown {
	                    	.dropbtn {
		                    	a {
		                    		font-size: 14px;
		                    	}
	                    	}
	                    }
		                a {
		                    font-size: 14px;
		                }
		            }
	            }
	        }
			.main-soc {
				display: none;
			}
		}
	}
	footer {
	    padding: 20px 0;
	    .main-menu {
	        margin-bottom: 20px;
	        nav {
	            a {
	                margin-right: 40px;
	                font-size: 14px;
	                line-height: 21px;
	            }
	        }
	    }
	    ul.l-footer {
	        margin: 0 0 15px;
	        li {
	            margin-right: 15px;
	            padding-right: 15px;
	        }
	    }
	    ul.l-soc {
	        li {
	            margin-right: 20px;
	            a {
	                font-size: 17px;
	            }
	        }
	    }
	}
	#main {
	    .banner {
	        padding: 150px 0 50px;
	        .w-text {
	            width: 265px;
	        }
	        .t1 {
	            color: $blue;
	            font-family: 'source_sans_probold';
	            font-size: 30px;
	            line-height: 30px;
	            margin-bottom: 10px;
	        }
	        .bdy {
	        	p {
	        		font-size: 14px;
	        		line-height: 21px;
	        	}
	        }
	    }
	    .bg-tab {
	    	padding-top: 100px;
	        ul.nav {
	            li {
	                a {
	                    font-size: 17px;
	                    line-height: 26px;
	                    padding: 7px 30px;
	                }
	            }
	        }
	        .tab-content {
	            padding: 60px 0 10px;
	            &.pb150 {
	                padding-bottom: 70px;
	            }
	            .bdy {
	                padding-left: 0;
	                margin-bottom: 10px;
	                p {
	                    font-size: 14px;
	                    line-height: 25px;
	                }
	            }
	        }
	        .link {
	            padding-bottom: 70px;
	        }
	    }
	    .bg-keunggulan {
	        padding: 50px 0 50px;
	        .t1 {
	            font-size: 30px;
	            line-height: 35px;
	            margin-bottom: 25px;
	        }
	        .row {
	        	> div {
	        		margin-bottom: 30px;
	        	}
	        }
	        .item {
	            padding: 20px 10px;
	            .nm {
	                font-size: 15px;
	                line-height: 21px;
	                height: 35px;
	            }
	            .bdy {
	                p {
	                    font-size: 13px;
	                    line-height: 22px;
	                }
	            }
	        }
	    }
	    .bg-layanan {
	        padding: 100px 0 50px;
	        .tbl {
	            .cell {
	                &.w400 {
	                    width: 270px;
	                    padding-right: 30px;
	                }
	                .t {
	                    font-size: 30px;
	                    line-height: 35px;
	                }
	                .bdy {
	                    p {
	                        font-size: 14px;
	                    }
	                }
	                .item {
	                    .img {
	                        margin-bottom: 15px;
	                        img {

	                        }
	                    }
	                    .link {
	                        font-size: 13px;
	                        line-height: 17px;
	                        padding: 5px 10px;
	                    }
	                }
	            }
	        }
	    }
	    .bg-dasar {
	        padding: 150px 0;
	        .t {
	            font-size: 35px;
	            line-height: 40px;
	            .img {
	                top: -30px;
	                left: 100px;
	                img {
	                    height: 55px;
	                }
	            }
	        }
	        .bdy {
	            p {
	                margin-bottom: 0;
	                font-size: 15px;
	                line-height: 26px;
	            }
	        }
	    }
	    .bg-tab-tentang {
	        ul.nav {
	            li {
	                margin-right: 40px;
	                a {
	                    font-size: 17px;
	                    line-height: 26px;
	                    padding: 7px 70px;
	                }
	            }
	        }
	        .blue {
	            padding: 70px 0;
	        }
	        .tab-content {
	            .bdy {
	                color: white;
	                ul {
	                    margin: 0;
	                    padding: 0;
	                    li {
	                        margin-bottom: 20px;
	                        .bold {
	                            font-size: 14px;
	                            line-height: 25px;
	                        }
	                        ol {
	                            padding: 0 0 0 15px;
	                            li {
	                                margin-bottom: 3px;
	                                font-size: 14px;
	                                line-height: 25px;
	                            }
	                        }
	                    }
	                }
	            }
	        }
	    }
	    .bg-pasal {
	        padding: 100px 0 0;
	        .t {
	            font-size: 22px;
	            line-height: 30px;
	        }
	        .bdy {
	            margin-bottom: 15px;
	            p {
	                font-size: 14px;
	                line-height: 22px;
	            }
	        }
	        .accordion {
	            .accordion-item {
	                margin-bottom: 12px;
	                padding-bottom: 12px;
	            }
	            .accordion-header {
	                a {
	                    i {
	                        font-size: 13px;
	                    }
	                    font-size: 18px;
	                    line-height: 26px;
	                }
	            }
	            .accordion-body {
	                padding: 8px 0 0 12px;
	                p {
	                    font-size: 14px;
	                    line-height: 21px;
	                }
	            }
	        }
	    }
	    .bg-klien {
	        padding: 100px 0 0;
	        .title {
	            font-size: 22px;
	            line-height: 30px;
	        }
	        .bdy {
	            p {
	                font-size: 14px;
	                line-height: 22px;
	            }
	        }
	        .bdr {
	            margin: 10px auto 30px;
	            width: 200px;
	        }
	        .slider-klien {
	            .item {
	                // margin: 0 20px;
	                // .img {
	                //     img {
	                //     	height: 40px;
	                //     }
	                // }
	            }
	        }
	        .slider-kerja {
	            // .item {
	            //     margin: 0 20px;
	            // }
	        }
	    }
	    .bg-kepengurusan {
	        padding: 100px 0 20px;
	        .title {
	            font-size: 22px;
	            line-height: 30px;
	            margin-bottom: 20px;
	        }
	        .slider {
	            .slick-slide {
	                &.slick-current {
	                    .item {
	                        .img {
	                            border: 7px solid #c4c4c4;
	                        }
	                    }
	                }
	            }
	            .item {
	                .img {
	                    border: 7px solid #f0f0f0;
	                    margin-bottom: 10px;
	                }
	                .nm {
	                    font-size: 17px;
	                    line-height: 24px;
	                }
	                .posisi {
	                    font-size: 15px;
	                    line-height: 20px;
	                }
	            }
	        }
	    }
	    .bg-profil {
	        padding: 50px 0 80px;
	        .title {
	            font-size: 22px;
	            line-height: 30px;
	        }
	        .bdy {
	            margin-bottom: 25px;
	            p {
	                font-size: 14px;
	                line-height: 22px;
	            }
	        }
	        .slider-profil {
	        	.item {
	        		.img {
	        			img {
	        				height: 200px;
	        			}
	        		}
	        	}
	            // .item {
	            //     padding: 0 10px;
	            // }
	        }
	    }
	    .bg-gallery {
	        padding: 40px 0 20px;
	        &.pb150 {
	            padding-bottom: 40px;
	        }
	        .title {
	            font-size: 22px;
	            line-height: 30px;
	            margin-bottom: 20px;
	        }
	        .row {
	            margin-left: -7.5px;
	            margin-right: -7.5px;
	            > div {
	                padding-left: 7.5px;
	                padding-right: 7.5px;
	            }
	        }
	        .item {
	            a {
	                .abs {
	                    padding: 10px 15px;
	                    bottom: 0;
	                    .t {
	                        font-size: 14px;
	                        line-height: 21px;
	                    }
	                }
	                .img {
	                    img {
	                        height: 200px;
	                    }
	                }
	            }
	        }
	    }

	    .bg-hubungi {
	        padding: 80px 0 80px;
	        .img {
	            margin-bottom: 20px;
	        }
	        .bdy-kami {
	            margin-bottom: 10px;
	            p {
	                font-size: 14px;
	                line-height: 21px;
	            }
	        }
	        ul.l-pay {
	            li {
	                margin-right: 10px;
	                a {
	                    .hvr-button {
	                        padding: 4px 25px;
	                    }
	                }
	                .img-pay {
	                    img {
	                        height: 25px;
	                    }
	                }
	            }
	        }
	        .t1 {
	            font-size: 20px;
	            line-height: 26px;
	            margin-bottom: 20px;
	        }
	        .t2 {
	            font-size: 14px;
	            line-height: 21px;
	        }
	        .bdy {
	            &.mb20 {
	                margin-bottom: 15px;
	            }
	            p {
	                font-size: 14px;
	                line-height: 21px;
	            }
	        }
	        .t3 {
	            margin-top: 20px;
	            margin-bottom: 5px;
	            font-size: 14px;
	            line-height: 21px;
	        }
	        ul.l-kami {
	            li {
	            	margin-bottom: 7px;
	                font-size: 14px;
	            }
	        }
	    }
	    .bg-informasi {
	        padding: 100px 0;
	        .accordion {
	        	padding-right: 20px;
	            .accordion-header {
	                a {
	                    i {
	                        font-size: 14px;
	                    }
	                    font-size: 16px;
	                    line-height: 22px;
	                    padding: 0 0 5px;
	                }
	            }
	            .accordion-body {
	                ul.nav {
	                    margin: 0 0 10px;
	                    li {
	                        margin-bottom: 7px;
	                        a {
	                            font-size: 14px;
	                            line-height: 20px;
	                        }
	                    }
	                }
	            }
	        }
	        .tab-content {
	            .bdy {
	                h1 {
	                    margin: 0 0 15px;
	                    font-size: 18px;
	                    line-height: 26px;
	                }
	                p {
	                    margin-bottom: 7px;
	                    font-size: 14px;
	                    line-height: 20px;
	                }
	                ul {
	                    padding: 0 0 0 15px;
	                    li {
	                        margin-bottom: 7px;
	                        font-size: 14px;
	                        line-height: 20px;
	                    }
	                }
	            }
	        }
	    }
	    .bg-kontak {
	        padding: 80px 0;
	        .t {
	            font-size: 35px;
	            line-height: 35px;
	            margin-bottom: 10px;
	         }
	    }
	    .pad150 {
	        padding: 80px 0;
	        &.pb0 {
	            padding-bottom: 0;
	        }
	    }
	    .title-global {
	        font-size: 35px;
	        line-height: 50px;
	        margin-bottom: 10px;
	    }
	    .bdy-global {
	        p {
	            font-size: 15px;
	            line-height: 26px;
	        }
	    }
	    .full-banner {
	        height: 350px;
	        &.mb100 {
	            margin-bottom: 60px;
	        }
	        .abs {
	            .t-banner {
	                font-size: 30px;
	                line-height: 35px;
	            }
	        }
	    }
	    #mitra, #jadwal-jbi {
	        padding-top: 100px;
	    }
	    .css-kegiatan {
	    	.slider-video {
	            .item {
	                iframe {
	                    height: 200px;
	                }
	            }
	        }
	        .title {
	            font-size: 20px;
	            line-height: 25px;
	        }
	        .bdy {
	            margin-bottom: 30px;
	            p {
	                font-size: 14px;
	                line-height: 22px;
	            }
	        }
	    }
	}
}