@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import "bourbon/bourbon";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";


$fa-font-path: "../webfonts";
$blue: #1C4B8E;
$black: #535353;
$red: #EC1E24;

* {
    scroll-behavior: inherit !important;
}

html, body {
    background-color: #ffffff;
    color: $black;
    font-weight: normal;
    margin: 0;
    font-family: 'robotoregular';
}

.pos-rel {
    position: relative;
}

body {
    &.no-scroll {
        overflow: hidden;
    }
}

*:focus, a:hover, a:focus, input.form-control:focus, input.form-control:hover, select.form-control:focus, select.form-control:hover, textarea.form-control:focus, textarea.form-control:hover, button:hover, button:focus, button.btn:hover, button.btn:focus {
    outline: 0;
    text-decoration: none;
    box-shadow: none;
}

a {
    text-decoration: none;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

textarea.form-control {
    height: 140px;
    resize: none;
}

.form-control {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background: white;
    border: 0;
    border: 1px solid #C4C4C4;
    color: $black;
    font-size: 16px;
    line-height: 24px;
    padding: 5px 15px;
    outline: none;
    @include transition(all 0.3s);
    &::placeholder {
        opacity: 1;
        color: $black;
    }

    &:-ms-input-placeholder {
        opacity: 1;
        color: $black;
    }

    &::-ms-input-placeholder {
        opacity: 1;
        color: $black;
    }
    &:focus {
        border: 1px solid $black;
        background: #F3F3F3;
    }
    &:disabled {
        cursor: no-drop;
    }
}

select::-ms-expand {
    display: none;
}
select {
    -webkit-appearance: none;
    appearance: none;
}
.tbl {
    width: 100%;
    height: 100%;
    display: table;
    .cell {
        display: table-cell;
        vertical-align: middle;
        &.v-top {
            vertical-align: top;
        }
    }
}

a.inline-block {
    display: inline-block;
}

button.hvr-button {
    border: 0;
    color: white;
    background: $red;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px 25px;
    display: inline-block;
    margin: 0;
    width: 100%;
    font-size: 17px;
    line-height: 24px;
    position: relative;
    letter-spacing: 0;
    @include transition(all 0.3s);
    cursor: pointer;
    overflow: hidden;
    font-weight: bold;
    bottom: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
        bottom: 3px;
    }
}

a.block {
    display: block;
}
a.inline-block {
    display: inline-block;
}

label {
    &.hide {
        position:absolute;
        z-index: -1;
    }
}
.visible-xs {
    display: none;
}

.slide-menu {
    display: block;
    width: 100%;
    position: fixed;
    left: 0;
    top: -100%;
    background: white;
    @include transition(all 0.3s);
    z-index: 1200;
    height: auto;
    padding: 0;
    .pad20 {
        padding: 50px 20px 20px;
    }
    .main-soc {

        ul {
            margin: 15px 0 0;
            padding: 0;
            li {
                display: inline-block;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font-size: 18px;
                    @include transition(all 0.3s);
                    color: $blue;
                }
            }
        }
    }
    &.active {
        top: 0;
    }
    .box-close {
        position: absolute;
        top: 18px;
        right: 17px;
        line-height: 1;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
        i {
            color: $blue;
            font-size: 20px;
        }
    }
    nav {
        a {
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 20px;
            color: $blue;
            @include transition(all 0.3s);
            &:last-child {
                margin-bottom: 0;
            }
            &.active {
                font-weight: bold;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    visibility: hidden;
    z-index: -1;
    @include transition(all 0.3s);
    &.active {
        z-index: 1100;
        visibility: visible;
        background: rgba(0,0,0,.7);
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    &.scroll {
        box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.1);
        &.white {
            .header-bottom {
                .main-menu {
                    ul {
                        li {
                            a {
                                color: $black;
                                &:before {
                                    background-color: $black;
                                }
                            }
                            &.dropdown {
                                .dropbtn {
                                    a {
                                        color: $black;
                                        &:before {
                                            background-color: $black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .main-soc {
                    ul {
                        li {
                            a {
                                color: $black;
                                &:hover {
                                    color: $black;
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-bottom { 
            background-color: white;
            padding: 10px 0 0;
            .logo {
                img {
                    height: 50px;
                }
            }
            .main-menu {
                nav {
                    a {
                        color: $black;
                        &.active {
                            color: $blue;
                        }
                        &:before {
                            bottom: 18px;
                        }
                    }
                }
            }
            .main-soc {
                ul {
                    li {
                        a {
                            color: $black;
                        }
                    }
                }
            }
        }
    }
    &.white {
        .header-bottom {
            .main-menu {
                ul {
                    li {
                        a {
                            color: white;
                            &:before {
                                background-color: white;
                            }
                        }
                        &.dropdown {
                            .dropbtn {
                                a {
                                    color: white;
                                    &:before {
                                        background-color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .main-soc {
                ul {
                    li {
                        a {
                            color: white;
                            &:hover {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    .header-bottom {
        background-color: transparent;
        padding: 40px 0 0;
        @include transition(all 0.3s);
        .menu {
            display: none;
        }
        .link {
            a {
                @include transition(all 0.3s);
                display: inline-block;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .logo {
            img {
                @include transition(all 0.3s);
                max-width: 100%;
                height: 75px;
            }
        }
        .main-menu {
            line-height: 1;
            display: inline-block;
            vertical-align: middle;
            text-align: right;
            ul {
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    margin-right: 50px;
                    &.dropdown {
                        position: relative;
                        display: inline-block;
                        &:hover {
                            .dropdown-content {
                                display: block;
                            }
                            .dropbtn {
                                a {
                                    font-family: 'robotobold';
                                    &:before {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        .dropbtn {
                            a {
                                cursor: pointer;
                                font-size: 17px;
                                line-height: 24px;
                                color: $black;
                                padding: 24px 0px;
                                display: inline-block;
                                @include transition(all 0.3s);
                                position: relative;
                            }
                        }
                        .dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: rgba(28,75,142,0.8);
                            min-width: 180px;
                            z-index: 1;
                            padding: 10px 0;
                            a {
                                padding: 5px 15px;
                                text-align: left;
                                display: block;
                                color: white;
                                font-size: 15px;
                                line-height: 22px;
                                &:before {
                                    display: none;
                                }
                                &:hover {
                                    opacity: 0.7;
                                    font-family: 'robotoregular';
                                }
                            }
                        }
                    }
                    a {
                        cursor: pointer;
                        font-size: 17px;
                        line-height: 24px;
                        color: $black;
                        padding: 24px 0px;
                        display: inline-block;
                        @include transition(all 0.3s);
                        position: relative;
                        &:before {
                            position: absolute;
                            left: 50%;
                            @include transform(translateX(-50%));
                            bottom: 15px;
                            width: 0;
                            height: 2px;
                            background-color: $black;
                            content: '';
                            @include transition(all 0.3s);
                        }
                        &:hover {
                            font-family: 'robotobold';
                            &:before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .main-soc {
            display: inline-block;
            vertical-align: middle;
            ul {
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    margin-right: 20px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        font-size: 20px;
                        @include transition(all 0.3s);
                        color: $black;
                    }
                }
            }
        }
    }
}

footer {
    padding: 25px 0;
    .main-menu {
        margin-bottom: 30px;
        text-align: center;
        nav {
            a {
                cursor: pointer;
                margin-right: 60px;
                font-size: 15px;
                line-height: 20px;
                color: $black;
                @include transition(all 0.3s);
                position: relative;
                &:hover {
                    color: $blue;
                    font-family: 'robotobold';
                }
            }
        }
    }
    ul.l-footer {
        margin: 0 0 20px;
        text-align: center;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 20px;
            padding-right: 20px;
            font-size: 13px;
            line-height: 16px;
            border-right: 1px solid $black;
            &:last-child {
                margin-right: 0;
                padding-right: 0;
                border-right: 0;
            }
        }
    }
    ul.l-soc {
        margin: 0;
        text-align: center;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 20px;
                @include transition(all 0.3s);
                color: $blue;
            }
        }
    }
}

.fixed-top {
    display: none;
    a {
        cursor: pointer;
        display: block;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        font-family: 'robotoregular';
        cursor: pointer;
        position: fixed;
        right: 15px;
        bottom: 40px;
        z-index: 1000;
        @include transition(all 0.3s);
        background-color: $red;
        text-align: center;
        color: white !important;
        font-size: 14px;
        line-height: 19px;
        &:hover {
            opacity: 0.7;
        }
    }
}


.fixed-message {
    display: none;
    a {
        display: block;
        background-color: $blue;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        cursor: pointer;
        padding: 10px;
        position: fixed;
        right: 15px;
        bottom: 90px;
        z-index: 1000;
        @include transition(all 0.3s);
        .img {
            text-align: center;
            position: absolute;
            left: 53%;
            top: 50%;
            @include transform(translate(-50%,-50%));
            img {
                width: 30px;
            }
        }
        .txt {
            white-space: nowrap;
            color: white;
            font-size: 17px;
            line-height: 21px;
            font-family: 'robotoregular';
            display: none;
            @include transition(all 0.3s);
        }
        &:hover {
            width: 165px;
            border-radius: 8px;
            padding: 10px 15px;
            .img {
                left: inherit;
                right: 10px;
                @include transform(translate(0,-50%));
            }
            .txt {
                display: inline-block;
            }
        }
    }
}

#main {
    margin: 0 auto;
    max-width: 2560px;
    .banner {
        position: relative;
        .bg {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                @include transition(all 0.3s);
                object-fit: cover;
                width: 100%;
                height: 100%;
                animation: image 8s;
            }

        }
        padding: 250px 0 150px;
        @keyframes image {
            0% { @include transform(scale(1)); }
            100% { @include transform(scale(1.1)); }
        }
        .w-text {
            width: 364px;
        }
        .t1 {
            color: $blue;
            font-family: 'source_sans_probold';
            font-size: 41px;
            line-height: 40px;
            margin-bottom: 10px;
        }
        .bdy {
            margin-bottom: 20px;
            p {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
        .link {
            text-align: center;
            a {
                display: inline-block;
            }
        }
    }
    .bg-tab {
        padding-top: 150px;
        ul.nav {
            position: relative;
            z-index: 10;
            border: 0;
            justify-content: center;
            li {
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    cursor: pointer;
                    font-family: 'source_sans_probold';
                    font-size: 20px;
                    line-height: 30px;
                    padding: 7px 40px;
                    color: #B1B1B1;
                    border-color: transparent;
                    &:hover {
                        border-color: transparent;
                    }
                    &:before {
                        width: 100%;
                        height: 20px;
                        background: white;
                        position: absolute;
                        z-index: 10;
                        content: "";
                        bottom: -15px;
                        left: 0;
                    }
                    &.active {
                        border-color: transparent;
                        color: $blue;
                        box-shadow: 0px -5px 15px 5px rgba(0, 0, 0, .10);
                    }
                }
            }
        }
        .shadow-tab {
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .10);
        }
        .tab-content {
            padding: 100px 0 15px;
            &.pb150 {
                padding-bottom: 150px;
            }
            .img {
                img {
                    width: 100%;
                }
            }
            .bdy {
                padding-left: 20px;
                p {
                    margin-bottom: 0;
                    font-size: 17px;
                    line-height: 32px;
                }
            }
        }
        .link {
            text-align: center;
            a {
                display: inline-block;
            }
            padding-bottom: 150px;
        }
    }
    .bg-keunggulan {
        background-size: cover !important;
        width: 100%;
        padding: 70px 0 100px;
        position: relative;
        &:before {
            width: 100%;
            height: 100%;
            background: #164C8F;
            opacity: 0.8;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
        }
        .t1 {
            position: relative;
            z-index: 10;
            font-size: 45px;
            line-height: 50px;
            color: white;
            text-align: center;
            font-family: 'source_sans_probold';
            margin-bottom: 30px;
        }
        .row {
            position: relative;
            z-index: 10;
            text-align: center;
        }
        .item {
            height: 100%;
            background: rgba(22,76,143,0.6);
            padding: 25px 15px;
            .img {
                overflow: hidden;
                width: 65px;
                margin: 0 auto;
                &:hover {
                    img {
                        animation: moveToRight 0.4s;
                    }
                }
                img {
                    cursor: pointer;
                    @include transition(all 0.3s);
                    height: 65px;
                }
            }
            @keyframes moveToRight {
                80% { transform: translateX(250%); }
                81% { opacity: 1; transform: translateX(250%); }
                82% { opacity: 0; transform: translateX(250%); }
                83% { opacity: 0; transform: translateX(-50%); }
                84% { opacity: 1; transform: translateX(-50%);  }
                100% { transform: translateX(0%); }
            }
            .nm {
                margin-top: 5px;
                color: white;
                font-size: 17px;
                font-family: 'source_sans_probold';
                line-height: 20px;
                height: 40px;
                overflow: hidden;
                margin-bottom: 10px;
            }
            .bdy {
                padding: 0 20px;
                p {
                    margin-bottom: 0;
                    font-size: 15px;
                    line-height: 27px;
                    color: white;
                }
            }
        }
    }
    .bg-layanan {
        padding: 150px 0 100px;
        .tbl {
            .cell {
                vertical-align: top;
                &.w400 {
                    width: 400px;
                    padding-right: 70px;
                }
                .t {
                    margin-bottom: 5px;
                    color: $blue;
                    font-size: 40px;
                    line-height: 45px;
                    font-family: 'source_sans_probold';
                }
                .bdy {
                    p {
                        margin-bottom: 0;
                        font-size: 17px;
                        line-height: 21px;
                    }
                }
                .item {
                    text-align: center;
                    .img {
                        margin-bottom: 20px;
                        img {
                            max-height: 100%;
                        }
                    }
                    .link {
                        display: inline-block;
                        a {
                            display: block;
                            color: white;
                            font-family: 'robotomedium';
                            font-size: 14px;
                            letter-spacing: 0.5px;
                            line-height: 20px;
                            background: $red;
                            border-radius: 10px;
                            padding: 5px 20px;
                            @include transition(all 0.3s);
                            @include transform(scale(1));
                            &:hover {
                                font-size: 13px;
                                @include transform(scale(1.1));
                            }
                        }
                    }
                }
            }
        }
    }
    .bg-dasar {
        padding: 200px 0;
        .slider-dasar {
            margin-bottom: 0;
            .slick-dots {
                bottom: -40px;
                li {
                    margin: 0 9px;
                    width: 13px;
                    height: 13px;
                    &.slick-active {
                        button {
                            width: 13px;
                            height: 13px;
                            background: $blue;
                        }
                    }
                    button {
                        width: 7px;
                        height: 7px;
                        padding: 0;
                        background: #c4c4c4;
                        border: 0;
                        border-radius: 50px;
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
        .t {
            position: relative;
            color: $blue;
            font-family: 'source_sans_probold';
            font-size: 40px;
            line-height: 45px;
            .img {
                position: absolute;
                top: -40px;
                left: 110px;
                img {
                    height: 70px;
                }
            }
        }
        .bdy {
            p {
                margin-bottom: 0;
                font-size: 17px;
                line-height: 32px;
            }
        }
    }
    .bg-tab-tentang {
        ul.nav {
            border: 0;
            justify-content: center;
            li {
                margin-right: 60px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    cursor: pointer;
                    font-family: 'source_sans_probold';
                    font-size: 20px;
                    line-height: 30px;
                    padding: 7px 100px;
                    color: #c4c4c4;
                    border-color: transparent;
                    border-radius: 20px 20px 0px 0px;
                    &:hover {
                        border-color: transparent;
                    }
                    &.active {
                        background-color: $blue;
                        color: white;
                    }
                }
            }
        }
        .blue {
            background-color: $blue;
            padding: 100px 0;
        }
        .tab-content {
            .bdy {
                color: white;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        margin-bottom: 25px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        display: block;
                        .bold {
                            font-family: 'robotobold';
                            font-size: 16px;
                            line-height: 30px;
                            .normal {
                                font-family: "robotoregular";
                            }
                        }
                        ol {
                            margin: 0;
                            padding: 0 0 0 20px;
                            li {
                                margin-bottom: 5px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                font-family: "robotoregular";
                                font-size: 16px;
                                line-height: 30px;
                                list-style: upper-roman;
                            }
                        }
                    }
                }
            }
        }
    }
    .bg-pasal {
        padding: 150px 0 0;
        .t {
            color: $blue;
            text-align: center;
            font-family: 'source_sans_probold';
            font-size: 30px;
            margin-bottom: 5px;
            line-height: 35px;
        }
        .bdy {
            margin-bottom: 20px;
            text-align: center;
            p {
                font-size: 17px;
                line-height: 21px;
                margin-bottom: 0;
            }
        }
        .accordion {
            border: 0;
            display: block;
            .accordion-item {
                border: 0;
                border-bottom: 1px solid #C4C4C4;
                margin-bottom: 15px;
                padding-bottom: 15px;
            }
            .accordion-header {
                a {
                    justify-content: center;
                    cursor: pointer;
                    @include transition(all 0.3s);
                    &:hover {
                        opacity: 0.7;
                    }
                    i {
                        font-size: 17px;
                        position: relative;
                        top: -1px;
                        margin-right: 10px;
                    }
                    font-size: 20px;
                    line-height: 26px;
                    font-family: 'source_sans_probold';
                    padding: 0;
                    color: $blue;
                    &:after {
                        display: none;
                    }
                    &.accordion-button:not(.collapsed) {
                        color: $blue;
                        background-color: transparent;
                        box-shadow: none;
                    }
                }
            }
            .accordion-body {
                padding: 10px 0 0 15px;
                text-align: center;
                p {
                    font-family: 'robotoregular';
                    margin-bottom: 0;
                    font-size: 16px;
                    line-height: 21px;
                }
            }
        }
    }
    .bg-klien {
        padding: 150px 0 0;
        .title {
            color: $blue;
            text-align: center;
            font-family: 'source_sans_probold';
            font-size: 30px;
            margin-bottom: 5px;
            line-height: 35px;
        }
        .bdy {
            text-align: center;
            p {
                font-size: 17px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
        .bdr {
            margin: 15px auto 35px;
            width: 250px;
            height: 1px;
            background: #164C8F;
        }
        .slider-klien-mobile {
            display: none;
        }
        .slider-klien {
            margin-bottom: 0;
            .slick-slide {
                display: inline-block !important;
                vertical-align: middle;
                float: none;
            }
            .item {
                // margin: 0 30px;
                .img {
                    margin-bottom: 30px;
                    text-align: center;
                    img {
                        margin: 0 auto;
                        max-width: 100%;
                    }
                }
            }
        }
        .slider-kerja {
            margin-bottom: 0;
            .slick-slide {
                display: inline-block !important;
                vertical-align: middle;
                float: none;
            }
            .item {
                // margin: 0 30px;
                .img {
                    margin-bottom: 30px;
                    text-align: center;
                    img {
                        margin: 0 auto;
                        max-width: 100%;
                    }
                }
            }
        }
        .slider-kerja-mobile {
            display: none;
        }
    }
    .bg-kepengurusan {
        padding: 120px 0 50px;
        .title {
            color: $blue;
            text-align: center;
            font-family: 'source_sans_probold';
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 30px;
        }
        .slider {
            .slick-slide {
                @include transition(all 0.3s);
                @include transform(scale(0.7));
                &.slick-current {
                    .item {
                        .img {
                            border: 10px solid #c4c4c4;
                        }
                    }
                    @include transform(scale(1));
                }
            }
            .item {
                cursor: pointer;
                .img {
                    border: 10px solid #f0f0f0;
                    margin-bottom: 20px;
                    @include transition(all 0.3s);
                    img {
                        width: 100%;
                    }
                }
                .nm {
                    color: $blue;
                    font-family: 'source_sans_probold';
                    text-align: center;
                    font-size: 20px;
                    line-height: 26px;
                }
                .posisi {
                    font-size: 17px;
                    line-height: 22px;
                    font-family: 'robotoregular';
                    text-align: center;
                }
                .abs {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .bg-profil {
        padding: 150px 0;
        .title {
            color: $blue;
            text-align: center;
            font-family: 'source_sans_probold';
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 5px;
        }
        .bdy {
            margin-bottom: 40px;
            text-align: center;
            p {
                font-size: 17px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
        .slider-profil {
            margin-bottom: 0;
            .slick-prev {
                width: 18px;
                height: auto;
                left: -30px;
                z-index: 10;
                &:before {
                    width: 18px;
                    height: auto;
                    color: $blue;
                    @include transition(all 0.3s);
                    content: "\f0d9";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 50px;
                }
            }
            .slick-next {
                width: 18px;
                height: auto;
                right: -30px;
                z-index: 10;
                &:before {
                    width: 18px;
                    height: auto;
                    color: $blue;
                    @include transition(all 0.3s);
                    content: "\f0da";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 50px;
                }
            }
            .slick-dots {
                bottom: -40px;
                li {
                    margin: 0 9px;
                    width: 13px;
                    height: 13px;
                    &.slick-active {
                        button {
                            width: 13px;
                            height: 13px;
                            background: $blue;
                        }
                    }
                    button {
                        width: 7px;
                        height: 7px;
                        padding: 0;
                        background: #c4c4c4;
                        border: 0;
                        border-radius: 50px;
                        &:before {
                            display: none;
                        }
                    }
                }
            }
            .item {
                padding: 0 10px;
                .col-profil {
                    flex: 0 0 auto;
                    width: 20%;
                    overflow: hidden;
                    margin-bottom: 25px;
                    cursor: pointer;
                    &:hover {
                        .pad {
                            bottom: 0;
                        }
                    }
                }
                // padding: 0 15px;
                // cursor: pointer;
                // overflow: hidden;
                .img {
                    overflow: hidden;
                    &:hover {
                        img {
                            @include transform(scale(1.1));
                        }
                    }
                    img {
                        @include transition(all 0.3s);
                        @include transform(scale(1));
                        height: 300px;
                        object-fit: cover;
                        width: 100%;
                    }
                }
                .pad {
                    .bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #005495;
                        mix-blend-mode: multiply;
                    }
                    padding: 15px 15px;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: -100%;
                    @include transition(all 0.3s);
                    .txt {
                        position: relative;
                        z-index: 10;
                        color: white;
                        font-size: 12px;
                        line-height: 13px;
                        font-family: 'source_sans_proregular';
                    }
                }
            }
        }
        .slider-profil-mobile {
            display: none;
        }
    }
    .bg-gallery {
        padding: 120px 0 50px;
        &.pb150 {
            padding-bottom: 150px;
        }
        ul.pagination {
            justify-content: center;
            margin: 15px 0 0;
            li {
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
                &:first-child, &:last-child {
                    a {
                        &:hover {
                            background-color: transparent;
                            color: $blue;
                            opacity: 0.7;
                        }
                    }
                }
                &.active {
                    a {
                        background-color: $blue;
                        color: white;
                    }
                }
                a {
                    border: 0;
                    color: $blue;
                    @include transition(all 0.3s);
                    background-color: transparent;
                    &:hover {
                        background-color: $blue;
                        color: white;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
        .title {
            color: $blue;
            text-align: center;
            font-family: 'source_sans_probold';
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 25px;
        }
        .row {
            margin-left: -7.5px;
            margin-right: -7.5px;
            > div {
                padding-left: 7.5px;
                padding-right: 7.5px;
            }
        }
        .link {
            margin-top: 20px;
            text-align: center;
            a {
                @include transition(all 0.3s);
                display: inline-block;
            }
        }
        .item {
            margin-bottom: 10px;
            a {
                position: relative;
                display: block;
                overflow: hidden;
                &:hover {
                    .abs {
                        bottom: 0;
                    }
                    .img {
                        img {
                            @include transform(scale(1.1));
                        }
                    }
                }
                .abs {
                    padding: 15px 15px;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: -100%;
                    @include transition(all 0.3s);
                    .bg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: #005495;
                        mix-blend-mode: multiply;
                    }
                    .t {
                        position: relative;
                        z-index: 10;
                        color: white;
                        font-size: 15px;
                        line-height: 20px;
                        font-family: 'source_sans_probold';
                    }
                    .bdy {
                        position: relative;
                        z-index: 10;
                        p {
                            height: 30px;
                            overflow: hidden;
                            margin-bottom: 0;
                            font-size: 11px;
                            line-height: 15px;
                            color: white;
                        }
                    }
                }
                .img {
                    overflow: hidden;
                    img {
                        @include transition(all 0.7s);
                        @include transform(scale(1));
                        object-fit: cover;
                        height: 240px;
                        width: 100%;
                    }
                }
            }
        }
    }

    .bg-hubungi {
        padding: 150px 0 150px;
        .img {
            margin-bottom: 25px;
            img {
                width: 100%;
            }
        }
        .bdy-kami {
            margin-bottom: 15px;
            p {
                margin-bottom: 0;
                font-size: 15px;
                line-height: 20px;
            }
        }
        ul.l-pay {
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    display: inline-block;
                    .hvr-button {
                        font-size: 14px;
                        padding: 4px 30px;
                    }
                }
                .img-pay {
                    img {
                        height: 30px;
                    }
                }
            }
        }
        .t1 {
            color: $blue;
            font-family: 'source_sans_probold';
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 25px;
        }
        .t2 {
            font-size: 16px;
            color: $blue;
            font-family: 'robotobold';
            line-height: 22px;
        }
        .bdy {
            &.mb20 {
                margin-bottom: 20px;
            }
            p {
                .bold {
                    color: $blue;
                    font-family: 'robotobold';
                }
                margin-bottom: 0;
                font-size: 15px;
                line-height: 20px;
            }
        }
        .t3 {
            margin-top: 30px;
            margin-bottom: 5px;
            font-size: 16px;
            color: $blue;
            font-family: 'robotobold';
            line-height: 22px;
        }
        ul.l-kami {
            margin: 0;
            padding: 0;
            li {
                margin-bottom: 10px;
                display: inline-block;
                font-size: 15px;
                line-height: 18px;
                &:last-child {
                    margin-bottom: 0;
                }
                &.img {
                    margin-right: 10px;
                }
            }
        }
    }
    .bg-informasi {
        padding: 150px 0;
        .accordion {
            border: 0;
            display: inline-block;
            padding-right: 50px;
            .accordion-item {
                border: 0;
                margin-bottom: 5px;
            }
            .accordion-header {
                a {
                    cursor: pointer;
                    @include transition(all 0.3s);
                    &:hover {
                        opacity: 0.7;
                    }
                    i {
                        font-size: 17px;
                        position: relative;
                        top: -1px;
                        margin-right: 10px;
                    }
                    font-size: 20px;
                    line-height: 26px;
                    font-family: 'source_sans_probold';
                    padding: 0 0 8px;
                    color: $blue;
                    &:after {
                        display: none;
                    }
                    &.accordion-button:not(.collapsed) {
                        color: $blue;
                        background-color: transparent;
                        box-shadow: none;
                    }
                }
            }
            .accordion-body {
                padding: 0;
                ul.nav {
                    border: 0;
                    display: block;
                    margin: 0 0 15px;
                    padding: 0;
                    li {
                        margin-bottom: 15px;
                        display: block;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            &.active {
                                font-family: 'robotobold';
                                color: $red;
                            }
                            color: $black;
                            cursor: pointer;
                            border: 0;
                            padding: 0;
                            font-size: 17px;
                            @include transition(all 0.3s);
                            line-height: 20px;
                            &:hover {
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
        .tab-content {
            .bdy {
                h1 {
                    margin: 0 0 20px;
                    color: $red;
                    font-size: 24px;
                    line-height: 30px;
                    font-family: 'source_sans_probold';
                }
                p {
                    margin-bottom: 10px;
                    font-size: 17px;
                    line-height: 26px;
                }
                ul {
                    margin: 0;
                    padding: 0 0 0 20px;
                    li {
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        font-size: 17px;
                        line-height: 26px;
                        list-style: decimal;
                    }
                }
            }
        }
    }
    .bg-kontak {
        position: relative;
        .bg {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            img {
                @include transition(all 0.3s);
                object-fit: cover;
                width: 100%;
                height: 100%;
                animation: image 8s;
            }

        }
        padding: 150px 0;
        @keyframes image {
            0% { @include transform(scale(1)); }
            100% { @include transform(scale(1.1)); }
        }
        .t {
            position: relative;
            z-index: 10;
            color: white;
            text-align: center;
            font-size: 45px;
            line-height: 45px;
            font-family: 'source_sans_probold';
            margin-bottom: 15px;
         }
        .link {
            text-align: center;
            a {
                @include transition(all 0.3s);
                display: inline-block;
            }
        }
    }
    .pad150 {
        padding: 150px 0;
        &.pb0 {
            padding-bottom: 0;
        }
    }
    .title-global {
        text-align: center;
        font-family: 'source_sans_probold';
        color: $blue;
        font-size: 45px;
        line-height: 60px;
        margin-bottom: 15px;
    }
    .bdy-global {
        text-align: center;
        p {
            font-size: 17px;
            line-height: 32px;
        }
    }
    .full-banner {
        background-size: cover !important;
        width: 100%;
        position: relative;
        height: 450px;
        &.mb0 {
            margin-bottom: 0;
        }
        .abs {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%,-50%));
            .t-banner {
                color: white;
                font-size: 40px;
                line-height: 45px;
                font-family: 'source_sans_probold';
                text-align: center;
            }
        }
    }
    #mitra, #jadwal-jbi {
        padding-top: 150px;
    }
    .css-kegiatan {
        .slider-video {
            margin-bottom: 20px;
            .item {
                padding: 0 15px;
                iframe {
                    width: 100%;
                    height: 250px;
                }
            }
        }
        .title {
            color: $blue;
            text-align: center;
            font-family: 'source_sans_probold';
            font-size: 30px;
            line-height: 35px;
        }
        .t-video {
            text-align: center;
            font-size: 17px;
            line-height: 21px;
            margin-bottom: 20px;
        }
        ul.l-video {
            margin: 0;
            padding: 0;
            text-align: center;
            li {
                display: inline-block;
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .link {
            display: inline-block;
            a {
                min-width: 160px;
                display: block;
            }
        }
        .bdy {
            margin-bottom: 40px;
            text-align: center;
            p {
                font-size: 17px;
                line-height: 21px;
                margin-bottom: 0;
            }
        }
        .img {
            img {
                width: 100%;
            }
        }
    }
} 

@import "desktop";
@import "tablet";
@import "mobile";
@import "small_mobile";
